* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fafafa;
}

#instagram-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 686px;
    margin-bottom: 19px;
   
}

.container-one {
    display: flex;
    justify-content: center;
    width: 400px;
    max-height: 100%;
}

.container-one img {
    width: 295px; 
    margin-left: 60px;
}

/* formulário de login*/

.container-two {
    width: 400px;
}

/* Aqui começa o formulário de login */

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 34px;
    border: solid 1px rgba(128, 128, 128, 0.336);   
    border-radius: 2px; 
    background-color: white;
}

.logo-instagram {
    width: 175px;
    display: block;
    padding-bottom: px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.field {
    
    font-size: 13px;
    width: 255px;
    padding: 8px;
    margin: 3px;
    border-radius: 2px;
    border-width: 1px;
    border: solid 1px rgba(128, 128, 128, 0.37);
    margin-top: 40px;
    background-color: #fafafa;

}

.field-two {
    font-size: 13px;
    width: 255px;
    padding: 8px;
    margin: 3px;
    border-radius: 2px;
    border-width: 1px;
    border: solid 1px rgba(128, 128, 128, 0.37);
    background-color: #fafafa;

}

.button-login {
    margin-left: px;
    font-size: 14px;
    width: 274px;
    padding: 8px;
    font-weight: bold;
    background-color: #b2dffc;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    margin-bottom: 18px;
}

/* Parte do OR*/

.linha-or {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

hr {
    justify-content: center;
    align-items: center;
    border: solid 1px #8e8e8e21;
    width: 115px;
}

.or {
    text-transform: uppercase;
    font-weight: bold;
    color: #8e8e8e;
    font-size: 12px;
    margin: 0 10px;
}

/*Forgot password*/

.forgot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.forgot a {
    font-size: 12px;
    color: #223d79;
}

/*login com o facebook*/

.login-facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.face-icon {
    width: 15px;
    padding-right: 5px;
}

h4 {
    text-align: center;
    font-size: 14px;
    color: #385185;
}

/* Aqui começa o formulário para criar uma nova conta*/

.creat-account {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px rgba(128, 128, 128, 0.397);
    padding: 22px 0;
    margin-top: 12px;
    border-radius: 2px;
    background-color: white;
}

.creat-account p {
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.creat-account a {
    color: #009bf6;
    font-weight: bolder;
    font-size: 15px;
}

.app p {
    margin: 20px 0;
    font-size: 14px;
    color: black;
    text-align: center;
}

.get-app {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.get-app img {
    width: 135px;
    
}

.img-one {
    margin-right: 5px;
}

.img-two {
    margin-left: 5px;
}

.img-one, .img-two {
    width: 150px;
} 

.container-footer-one {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-footer-two {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    
}

.menu-footer-sup p {
    display: inline;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    line-height: 24px;
}

.menu-footer-inf p {
    display: inline;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 0 3px;
}

.opição-menu-footer p, a { 
    text-decoration: none;
    color: gray;
    font-size: 12px;
    padding: 0 3px;
}

.second-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#language {
    font-size: 12px;
    color: gray;
    border: none;
    background-color: rgba(128, 128, 128, 0);
    width: 115px;
    text-align: end;
}

.insta-from-face {
    font-size: 12px;
    color: gray;
    padding-left: 15px;
}

/*Aqui começa as @medias*/

@media (max-width: 1024px) {
    .instagram-container {
        width: 90%;
        max-height: 80%;
    }
}

@media (max-width: 650px){
    .instagram-container {
        width: 90%;
    }

    .container-one {
        display: none;
    }
}

@media (max-width: 650px){
    .container-footer-one {
        width: 90%;
        text-align: center;
        padding-left: 22px;
    }
}

@media (max-width: 650px) {
    .container-footer-two {
        width: 90%;
        text-align: center;
        padding-left: 22px;
        margin-bottom: 9px;
    }
}

@media (max-width: 650px) {
    .second-footer {
       width: 90%;
       text-align: center;
    }
}